---
import Excerpt from '@igor.dvlpr/astro-post-excerpt';
import { formatDate } from '@/scripts/date';

const { item: post } = Astro.props;
const {
  data: {
    date: rawDate,
    title,
  },
  id,
} = post;

const url = `/news/${id}`;
const date = formatDate(rawDate, "short");
---

<li>
  <article>
    <h3>
      <a href={url}>{title}</a>
    </h3>
    <strong>{date}</strong>
    <p>
      <Excerpt
        post={post}
      />
    </p>
  </article>
</li>
