---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import SEO from '@components/SEO.astro';
import '@styles/base.css';
import '@styles/global.css';

interface Props {
  contentLayout: string;
  metaTitle: string;
  pageTitle: string;
  description?: string;
  image?: string;
  type?: string;
  url?: string;
  canonical?: string;
}

const { 
  contentLayout, 
  metaTitle, 
  pageTitle,
  description,
  image,
  type,
  url,
  canonical,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{ metaTitle }</title>
    <SEO 
      title={metaTitle}
      description={description}
      image={image}
      type={type}
      url={url}
      canonical={canonical}
    />
  </head>
  <body>
		<Header />
		<main class={contentLayout}>
      <div class="grid-container">
        <h1 class="page-title">{ pageTitle }</h1>
        <slot />
      </div>
		</main>
    <Footer />
  </body>
</html>
